html,body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #13192f;
    font-size: 40px;
}
.choice{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem
}
p{
    color: gray;
    text-align: center;
}
.choice img{
    width: 60%;
    height: 60%;
    border-radius: 30px;
}
h1{
    color: white;
    font-size:  60px;
    text-transform: uppercase;
}
.choice button{
    border: none;
    background-color: transparent;
    width: 60%;
    height: 60%;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    color: white;
    gap: 1rem;

}

label, input, select, textarea {
    margin-bottom: 10px;
    font-size: 40px;
    outline: none;
}
button{
    font-size: 40px;
}
input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 10px;
    text-transform: uppercase;
    outline: none;
}


input[type="submit"]:hover {
    background-color: #45a049;
}
.popup{
    display: none;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup img{
    width: 25%;
    height: auto;
}
#change_platforme{
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
}

input{
    padding: 20px 25px;
    border: 2px solid #45a049;
    border-radius: 5px;
    color: gray;
    background-color: transparent;
}
input#nomResto {
    width: 93%;
    margin-left: 1rem;
}
input[type="checkbox"]{
    appearance: none; /* Masque la case à cocher par défaut */
    -webkit-appearance: none; /* Pour les navigateurs WebKit (Chrome, Safari) */
    -moz-appearance: none; /* Pour Firefox */
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    border: 2px solid #45a049; /* Bordure de la case à cocher */
    border-radius: 5px; /* Coins arrondis */
    margin-right: 5px; /* Marge à droite pour l'espace entre la case à cocher et le texte */
    cursor: pointer;
}
.promotion_input{
    display: flex;
    align-items: center;
    color: gray;
    gap: 10px;
}
.price{
    display: flex;
    align-items: center;  
    gap: 10px;
    justify-content: space-around;
}
#choose_img{
    background-color: #45a049;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
}
footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer a{
    color: #45a049;
}
div#choose {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.address{
    display: flex;
}
